/* src/app/componente-pai/componente-pai.component.css */
:host {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
  }
  
  .componente-pai-container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  