<h1>Exercício 1</h1>
<app-contador></app-contador>

<h1>Exercícios 2 e 3</h1>
<div>
  <app-list-items></app-list-items>
</div>

<h1>Exercício 4</h1>
<app-form-cadastro></app-form-cadastro>

<h1>Exercício 5</h1>
<app-controle-acesso></app-controle-acesso>

<h1>Exercício 6</h1>
<app-componente-pai></app-componente-pai>

<h1>Exercício 7</h1>
<div>
  <app-form-login (loggedIn)="onLoggedIn($event)"></app-form-login>
  <app-area-logada [email]="loggedInEmail" *ngIf="loggedIn"></app-area-logada>
</div>



